* {
    margin: 0rem;
    padding: 0rem;
}

:root {
    --black: black;
    --white: white;
    --background-color: #280045;
    --secondary-color: rgb(195, 147, 203);
    --third-color: rgb(233, 30, 99);
}

.navbar {
    padding: 0 10vw;
    background: linear-gradient(90deg, black, black, transparent);
    .navbar-brand {
        color: var(--third-color);
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 0.1rem;
    }
    .show {
        margin-top: 0rem !important;
    }
}

.navbar-toggler {
    background-color: #7e117e;
    width: 3rem;
    height: 2rem;
    text-align: center;
    .navbar-toggler-icon {
        width: 1.5rem;
        height: 1rem;
    }
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(159, 106, 185);
    font-size: 1.2rem;
    font-weight: bold;
    // margin: 0rem 0.9rem;
    &:focus {
        color: rgb(169, 9, 98);
    }
    &:hover {
        color: rgb(169, 9, 98);
    }
}

.main {
    width: 100vw;
    height: auto;
    background-color: var(--background-color);
    .cursor {
        width: 3rem;
        height: 3rem;
        border: 1px solid grey;
        border-radius: 50%;
        position: fixed;
        top: 0rem;
        left: 0rem;
        transform: translate(-50%, -50%);
    }
    .home_main {
        background: linear-gradient(90deg, black 25%, transparent, black), url("/pics/home_main_bg.png");
        width: 100vw;
        height: 45rem;
        background-repeat: no-repeat;
        background-position: absolute;
        background-size: cover;
        top: 3rem;
        overflow: hidden;
        .home_submain {
            display: flex;
            flex-direction: column;
            position: relative;
            top: 15rem;
            padding: 0vw 10vw;
            h1 {
                background: linear-gradient(#ffc08a, #E91E63);
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                font-size: 4.5rem;
                font-weight: bold;
            }
            p {
                color: var(--third-color);
                font-size: 2rem;
                font-weight: bold;
            }
            button {
                margin-top: 2rem;
                width: 12rem;
                height: 3rem;
                font-size: 1.3rem;
                text-decoration: none;
                border: none;
                font-weight: bold;
                color: var(--third-color);
                background-color: transparent;
                border: 2px solid var(--third-color);
                &:hover {
                    color: var(--white);
                    background-color: var(--third-color);
                    transition: 0.5s;
                }
            }
        }
    }
    .common_title {
        height: auto;
        // background-color: rgb(121, 165, 182);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
        h1 {
            color: var(--third-color);
        }
        .line {
            width: 7rem;
            height: 0.1rem;
            background-color: var(--third-color);
            margin-top: 0.6rem;
            // border-bottom: 1px solid var(--primary-color);
        }
        p {
            font-size: 1.2rem;
            text-align: center;
            margin: 2rem 0rem;
            color: var(--secondary-color);
        }
    }
    .we_do_main {
        width: 100vw;
        height: auto;
        // background-color: rgb(163, 79, 79);
        padding: 4rem 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        .we_do_boxes {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // background-color: rgb(124, 33, 33);
            .box {
                width: 23rem;
                height: 17rem;
                background-color: var(--white);
                // background-color: rgb(28, 147, 184);
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 2rem;
                border-radius: 2rem;
                overflow: hidden;
                position: relative;
                .bg {
                    width: 7rem;
                    height: 7rem;
                    background-color: var(--third-color);
                    border-radius: 60%;
                    position: absolute;
                    right: -2rem;
                    top: -2rem;
                }
                i {
                    font-size: 3rem;
                    padding-bottom: 1.5rem;
                    color: rgb(195, 195, 195);
                    z-index: 100;
                }
                h6 {
                    font-size: 1.5rem;
                    color: var(--black);
                    z-index: 100;
                }
                span {
                    font-size: 1.1rem;
                    color: rgb(139, 136, 136);
                    z-index: 100;
                }
                &:hover .bg {
                    width: 200%;
                    height: 200%;
                    top: -10rem;
                    right: -10rem;
                    transition: 0.7s;
                }
                &:hover {
                    span {
                        color: var(--white);
                    }
                }
            }
        }
    }
    .who_we_are_main {
        width: auto;
        height: auto;
        padding: 4rem 10vw;
        display: flex;
        flex-direction: column;
        // background-color: rgb(121, 57, 57);
        .who_we_are_div2 {
            height: auto;
            // background-color: aqua;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .who_we_are_div2_one {
                width: 49rem;
                height: auto;
                // background-color: chocolate;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                h6 {
                    font-size: 1.3rem;
                    font-weight: bold;
                    color: var(--white);
                }
                h5 {
                    font-size: 1.5rem;
                    color: rgb(181, 57, 234);
                    font-style: italic;
                }
                h4 {
                    line-height: 1.5rem;
                    font-size: 1.1rem;
                    color: var(--secondary-color);
                }
                .para {
                    p {
                        font-size: 1rem;
                        color: var(--secondary-color);
                        i {
                            margin-right: 0.5rem;
                            color: var(--third-color);
                        }
                    }
                }
            }
            .who_we_are_div2_two {
                width: 25rem;
                height: auto;
                display: block;
                margin-left: auto;
                margin-right: auto;
                // background-color: rgb(9, 30, 88);
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .gallery_main {
        width: 100vw;
        height: auto;
        padding: 4rem 10vw;
        display: flex;
        flex-direction: column;
        background-color: rgb(91, 0, 114);
        .gallery {
            width: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .pic {
                background-color: rgb(0, 0, 0);
                width: 19.2rem;
                height: 15rem;
                overflow: hidden;
                // border: 1px solid blue;
                img {
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                        transform: scale(1.1);
                        transition: transform 0.5s;
                        background-color: rgba(0, 0, 0, 0.7);
                    }
                }
            }
        }
    }
    .our_event_main {
        width: auto;
        height: auto;
        padding: 4rem 10vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        // background-color: rgb(216, 178, 54);
        .our_events {
            width: auto;
            height: auto;
            // background-color: #fff;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            .event {
                width: 100%;
                height: auto;
                // background-color: rgb(73, 8, 8);
                border: 1.5px solid var(--third-color);
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .event_video {
                    width: 15rem;
                    height: 9rem;
                    background-color: var(--third-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: var(--white);
                    overflow: hidden;
                    p {
                        font-size: 1.1rem;
                    }
                }
                .event_title {
                    width: 100%;
                    height: auto;
                    padding: 0.2rem 1rem;
                    // background-color: rgb(38, 108, 165);
                    h6 {
                        font-size: 1.5rem;
                        color: var(--third-color);
                        cursor: pointer;
                        &:hover {
                            transition: 0.3s;
                            color: rgb(54, 209, 201);
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        padding: 1rem 0rem;
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
    .get_our_services_main {
        width: 100vw;
        height: auto;
        padding: 0rem 10vw;
        display: flex;
        background-color: rgb(27, 0, 31);
        // background-color: rgb(6, 3, 179);
        .get_our_services_title {
            width: 45rem;
            height: 21rem;
            // background-color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 3rem 2rem 3rem 0rem;
            h1 {
                color: var(--third-color);
                font-size: 2.3rem;
            }
            p {
                color: var(--secondary-color);
            }
            button {
                width: 9rem;
                height: 2.6rem;
                padding: 0.3rem;
                font-size: 1.1rem;
                font-weight: bold;
                color: var(--third-color);
                background-color: rgb(27, 0, 31);
                border: 2px solid var(--third-color);
                &:hover {
                    color: var(--white);
                    background-color: var(--third-color);
                    transition: 0.5s;
                }
            }
        }
        .get_our_services_pic {
            width: 40rem;
            height: 21rem;
            background-color: rgb(31, 27, 27);
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .our_team_main {
        width: auto;
        height: auto;
        padding: 4rem 10vw;
        display: flex;
        flex-direction: column;
        // background-color: rgb(99, 87, 100);
        .our_team {
            width: auto;
            height: auto;
            // background-color: cadetblue;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 1rem;
            .team_member {
                width: 16rem;
                height: auto;
                border: 1px solid blue;
                display: flex;
                flex-direction: column;
                .team_member_pic {
                    width: auto;
                    height: 18rem;
                    background-color: chartreuse;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .middleline {
                    width: auto;
                    height: 0.4rem;
                    background-color: var(--third-color);
                }
                .team_member_info {
                    width: auto;
                    height: auto;
                    background-color: var(--white);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 1rem 0rem;
                    h6 {
                        font-size: 1.2rem;
                        color: var(--third-color);
                    }
                    p {
                        font-size: 0.8rem;
                        font-style: italic;
                        color: var(--third-color);
                    }
                    .team_member_contact {
                        width: auto;
                        height: auto;
                        // background-color: rgb(155, 141, 141);
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        i {
                            width: 2.8rem;
                            height: 2rem;
                            margin: 0rem 0.5rem;
                            font-size: 1.2rem;
                            color: rgb(246, 165, 193);
                            padding: 0.3rem 0.5rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: 1px solid rgb(246, 165, 193);
                            &:hover {
                                color: var(--white);
                                background-color: var(--third-color);
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    .price_main {
        width: auto;
        height: auto;
        // background-color: rgb(7, 177, 189);
        padding: 4rem 10vw;
        display: flex;
        flex-direction: column;
        .prices {
            width: auto;
            height: auto;
            margin-top: 1.5rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            // background-color: rgb(133, 83, 83);
            .pricetype {
                width: 21rem;
                height: auto;
                padding: 1.3rem;
                background-color: var(--white);
                border-radius: 2rem;
                .pricetype1 {
                    width: auto;
                    height: auto;
                    // background-color: rgb(146, 15, 15);
                    display: flex;
                    flex-direction: column;
                    // padding: 3rem 0rem;
                    .p1 {
                        p {
                            font-size: 1.3rem;
                            font-weight: bold;
                            color: rgb(103, 58, 183);
                        }
                    }
                    .p2 {
                        display: flex;
                        justify-content: space-between;
                        .aaa {
                            // border: 1px solid black;
                            display: flex;
                            align-items: center;
                            h6 {
                                font-size: 2rem;
                                color: var(--third-color);
                            }
                            span {
                                width: 0.3rem;
                                height: 4.3rem;
                                margin-right: 0.4rem;
                                background-color: rgb(103, 58, 183);
                            }
                        }
                        .bbb {
                            font-size: 2.5rem;
                            color: rgb(103, 58, 183);
                        }
                    }
                }
            }
            .pricetype2 {
                width: auto;
                height: auto;
                font-size: 1rem;
                line-height: 1.7rem;
                padding-top: 1.5rem;
                // background-color: rgb(15, 44, 122);
            }
            .pricetype3 {
                width: auto;
                height: auto;
                font-size: 1rem;
                padding: 1rem 0rem;
                //    background-color: rgb(9, 78, 14);
            }
            .reg_btn {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 0.5rem;
                button {
                    width: 10rem;
                    height: 2.7rem;
                    text-align: center;
                    color: var(--white);
                    border: none;
                    background-color: #f90048;
                    font-weight: bold;
                    border-radius: 0.4rem;
                    text-decoration: none;
                    &:hover {
                        background-color: #c8003a;
                    }
                    &:focus {
                        border: 2px solid var(--black);
                    }
                }
            }
        }
    }
}

.contact_us {
    width: auto;
    height: auto;
    // background-color: rgb(7, 177, 189);
    padding: 4vw 10vw;
    display: flex;
    flex-direction: column;
    .contact_main {
        padding-top: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .contact1 {
            width: auto;
            height: auto;
            .c {
                width: 20rem;
                height: auto;
                h6 {
                    font-size: 1.2rem;
                    a {
                        text-decoration: none;
                        color: var(--third-color);
                        i {
                            font-size: 2rem;
                            // padding: 0rem 0.2rem;
                            color: var(--third-color);
                        }
                    }
                }
                p {
                    color: var(--secondary-color);
                }
            }
        }
        .contact2 {
            width: 52rem;
            height: 25rem;
            input {
                background-color: #fff;
                margin-bottom: 2rem;
            }
            button {
                width: 7rem;
                height: 2.5rem;
                border: none;
                border-radius: 0.3rem;
                font-weight: bold;
                text-decoration: none;
                color: var(--white);
                background-color: var(--third-color);
                margin-top: 2rem;
                margin-left: 40vw;
            }
        }
    }
    .map {
        iframe {
            border: 0;
            width: 100%;
            height: 25rem;
            margin-top: 3rem;
        }
    }
}

footer {
    width: auto;
    height: auto;
    padding: 0.5rem;
    color: var(--white);
    font-size: 1.3rem;
    text-align: center;
    background-color: rgb(72, 41, 126);
    span {
        font-weight: bold;
    }
}